/*@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  margin-top: 0;
  padding: 0;
  padding-top: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/



/*//////////////////////////////////////////////////////////////*/



body {
	background-color: #222222;
	font-family: serif;
	color: white;
}

nav.navbar {
  background-color: rgba(50, 50, 50, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
}



nav .row {
	width: 100%;
}

/*#navbarButtons ul {
	background-color: black; 
	opacity: 0.5;
}*/

nav a {
	color: white;
}

#dirtyhit_link {
	display: flex;
	align-items: center;
}

nav #menuBarToggler {
  display: flex;
  align-items: center;
}

button.hamburger-menu:focus, button.hamburger-menu:hover {
  outline: none;
}

/* Animated icon styling from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */
.animated-icon {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon span {
	background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon.show span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon.show span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon.show span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
} /*End of animated icon styling*/

#navbarButtons {
  text-align: center;
  font-size: 24px;
}

#navbarButtons hr {
	border-top: 2px solid white;
	width: 70%;
}
/*.header {
	position: relative;
	color: white;
	background-color: none;
	height: 64px;
}*/

/*.dirty-hit {
	position: fixed;
	float: right;
	left: 1135px;
	padding: 13px 22px;
	font-family: "HGSゴシックE";
	letter-spacing: 2px;
	font-size: 12px;
    z-index: 100;
    text-decoration: none;
    color: white;
}*/


.mobile-title {
	text-align: center;
}

.mattyimage {
	width: 100%;
	height: auto;
}

.hero-copy h1 {
	font-size: 40px;
}

.hero-copy p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 16px;
}

/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-copy p {
  	text-align: left;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
