
body {
	background-color: #222222;
	font-family: serif;
	color: white;
}

nav.navbar {
  background-color: rgba(50, 50, 50, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
}



nav .row {
	width: 100%;
	font-size: 18px;
}

/*#navbarButtons ul {
	background-color: black; 
	opacity: 0.5;
}*/

nav a {
	color: white;
}



nav #menuBarToggler {
  display: flex;
  align-items: center;
}

button.hamburger-menu:focus, button.hamburger-menu:hover {
  outline: none;
}

/* Animated icon styling from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */
.animated-icon {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon span {
	background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon.show span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon.show span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon.show span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
} /*End of animated icon styling*/

#navbarButtons {
  text-align: center;
}
/*
#navbarButtons ul {
  height: 100vh;
}*/

.navbar a:hover, .navbar a:active {
	color: white;
	text-decoration: underline;
}

/* End of navigation header stylings */
/* Beginning of hero stylings */

.mobile-title {
	font-size: 52px;
	text-align: center;
}

.hero-copy h1 {
	font-size: 47px;
}

.hero-copy p {
	font-size: 15px;
	line-height: 2;
	text-align: center;
}
/* End of hero stylings */
/* Beginning of albums section stylings */
.album-jacket img {
	max-width: 100%;
}

.album-quote h4 {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.first-album h4, .third-album h4 {
	text-align: right;
}

.first-album h4 {
	font-size: 37px;
}

.second-album h4, .third-album h4 {
	font-size: 27px;
}

.fourth-album h4 {
	font-size: 29px;
}


.first-album h4:before, .third-album h4:before {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  right: 0.5em;
  margin-left: -50%;
}

.second-album h4:after, .fourth-album h4:after {
	background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 0.5em;
  margin-right: -50%;
}

.album-quote p {
	font-size: 14px;
	line-height: 2.5;
}

.album-quote p.quote-reference {
	font-size: 9px;
	text-align: right;
}
/* End of albums section stylings */

.large-text {
	max-width: 100%;
	font-size: 60px;
	text-align: center;
	letter-spacing: 50px;
	overflow: hidden;
	color: transparent;
	opacity: 0.1;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.large-text.modernway {
	margin-bottom: -35px;
}

/* Beginning of video section stylings */
.video .row {
	text-align: center;
	background-color: #A7A7A7;
}

.video h2 {
	font-size: 31px;
}

.video h4 {
	font-size: 21px;
}

.video p {
	font-size: 14px;
}
.iframe-video {
	background-color: #FFCBCC;
}

.view-more {
	text-align: right;
	font-size: 24px;
}
/* End of video section stylings */
/* Beginning of store section stylings */

.store {
	position: relative;
	background-color: rgba(94,94,94,0.3);
}

.store h2 {
	font-size: 31px;
	width: 200px;
	height: 50px;
	margin-left: -15px;
	color: black;
	background-color: white;
}

.goods-info h6 {
	font-size: 18px;
}

.goods-info h4 {
	font-size: 24px;
}
/* End of store section stylings */
/* Beginning of blogs and news section stylings */

.blog-and-news .row {
	max-width: 1160px;
}
.blog-and-news .image-filter {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.blog-and-news button {
	font-size: 26px;
	color: white;
  border: 3px double white;
  background: transparent;    
  outline:0;
}

.blog, .news {
	background-size: cover;
	min-height: 20vh;
}

.blog {
	background-image: url(images/blog-mobile.png);

}

.news {
	background-image: url(images/news-mobile.png);
}

/* End of blogs and news section stylings */

footer ul {
	list-style-type: none;
	text-align: center;
}

.footer-black {
	font-size: 16px;
	background-color: black;
}

.footer-white {
	font-size: 14px;
	background-color: white;
	color: #818181;
}

.footer-white .copyright {
	font-size: 9px;
	text-align: center;
}
/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.hero-image-wrapper {
		position: relative;
	}
	.hero-image-wrapper .mobile-title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10%;
		color: #222222;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.album-quote .image-filter {
		background-image: none;
	}
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-copy p {
  	text-align: left;
  }
  .album-jacket {
  	position: relative;
  }
  .album-jacket img {
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	z-index: 1;
  	max-height: 90%;
  }
  .first-album img, .third-album img {
  	left: -100px;
  }
  .second-album img, .fourth-album img {
  	right: -100px;
  }
	.album-quote {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 0 0;
	}
	.first-album .album-quote {
		background-image: url(images/mattylive1.jpg);
	}

	.second-album .album-quote {
		background-image: url(images/mattylive3.png);
	}

	.third-album .album-quote {
		background-image: url(images/mattylive4.png);
	}

	.fourth-album .album-quote {
		background-image: url(images/mattylive5.png);
	}

	.album-quote .image-filter {
		height: 100%;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}

	.first-album .image-filter {
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	}

	.first-album .image-filter, .third-album .image-filter {
		padding-right: 20%!important;
	}

	.second-album .image-filter, .fourth-album .image-filter {
		padding-left: 20%!important;
	}

	.large-text {
		font-size: 150px;
	}

	.large-text.modernway {
		margin-bottom: -90px;
	}
	.video .row {
	background: repeating-linear-gradient(-75deg, #FFCBCC, #FFCBCC 50%, #A7A7A7 50%, #A7A7A7 100%);
	}

	.video-text-wrapper {
		text-align: left;
	}
	.iframe-video {
		background-color: transparent;
	}

	.store h2 {
		font-size: 51px;
		width: 435px;
		height: 130px;
	}

	.store-goods {
	height: 650px;
	}

	.blog, .news {
		background-image: none;
		position: relative;
		min-height: 100%;
	}

	.blog-and-news .image-filter {
		position: absolute;
		top: 0;
	}

	.news img {
		position: absolute;
		right: 0;
		z-index: -1;
	}
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
