
body {
	background-color: #222222;
	font-family: serif;
	color: white;
}

nav.navbar {
  background-color: rgba(50, 50, 50, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
}



nav .row {
	width: 100%;
	font-size: 18px;
}

/*#navbarButtons ul {
	background-color: black; 
	opacity: 0.5;
}*/

nav a {
	color: white;
}

#dirtyhit_link {
	display: flex;
	align-items: center;
}

nav #menuBarToggler {
  display: flex;
  align-items: center;
}

button.hamburger-menu:focus, button.hamburger-menu:hover {
  outline: none;
}

/* Animated icon styling from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */
.animated-icon {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon span {
	background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon.show span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon.show span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon.show span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
} /*End of animated icon styling*/

#navbarButtons {
  text-align: center;
}

#navbarButtons hr {
	border-top: 2px solid white;
	width: 70%;
}
/*.header {
	position: relative;
	color: white;
	background-color: none;
	height: 64px;
}*/

/*.dirty-hit {
	position: fixed;
	float: right;
	left: 1135px;
	padding: 13px 22px;
	font-family: "HGSゴシックE";
	letter-spacing: 2px;
	font-size: 12px;
    z-index: 100;
    text-decoration: none;
    color: white;
}*/

/* The end of navigation header stylings */
/* The beginning of hero stylings */
.mobile-title {
	text-align: center;
}


.hero-copy h1 {
	font-size: 47px;
}

.hero-copy p {
	text-align: center;
	font-size: 13px;
	margin-bottom: 16px;
}
/* The end of hero stylings */
/* The beginning of albums section stylings */


.album-quote h2 {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.first-album h2, .third-album h2 {
	text-align: right;
}

.first-album h2 {
	font-size: 37px;
}

.second-album h2, .third-album h2 {
	font-size: 27px;
}

.fourth-album h2 {
	font-size: 29px;
}

.album-quote h2 span {
	display: inline-block;
	line-height: 0.2em;
	width: 60%;
	border-bottom: 1px solid white;
}

.first-album h2:before, .third-album h2:before {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  right: 0.5em;
  margin-left: -50%;
}

.second-album h2:after, .fourth-album h2:after {
	background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 0.5em;
  margin-right: -50%;
}

.album-quote p {
	font-size: 14px;
	line-height: 2.5;
}

.album-quote p.quote-reference {
	font-size: 9px;
	text-align: right;
}

/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-copy p {
  	text-align: left;
  }
  .album-jacket {
  	position: relative;
  }
  .album-jacket img {
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	z-index: 1;
  }
  .first-album img, .third-album img {
  	left: -100px;
  }
  .second-album img, .fourth-album img {
  	right: -100px;
  }
	.album-quote {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 0 0;
	}
	.first-album .album-quote {
		background-image: url(images/mattylive1.jpg);
	}

	.second-album .album-quote {
		background-image: url(images/mattylive3.png);
	}

	.third-album .album-quote {
		background-image: url(images/mattylive4.png);
	}

	.fourth-album .album-quote {
		background-image: url(images/mattylive5.png);
	}

	.album-quote .image-filter {
		height: 100%;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	}
	.first-album .image-filter, .third-album .image-filter {
		padding-right: 20%!important;
	}
	.second-album .image-filter, .fourth-album .image-filter {
		padding-left: 20%!important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
